

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="registro()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" name="apellido" [(ngModel)]="apellido" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" name="usuario" [(ngModel)]="usuario" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" name="contrasena" [(ngModel)]="contrasena" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" name="correo" [(ngModel)]="correo" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="primary">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
