/* Estilos para el título del formulario */
ion-card-title {
  font-size: 24px; /* Reducido el tamaño de fuente */
  margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos de entrada */
ion-label {
  font-weight: bold;
  color: #007bff; /* Cambiado a un color más cercano al ejemplo */
}

/* Estilos para los campos de entrada */
ion-input {
  border: 1px solid #007bff; /* Cambiado el grosor del borde */
  border-radius: 4px; /* Ajustado el radio del borde */
  padding: 10px;
  font-size: 16px; /* Reducido el tamaño de fuente */
  width: 100%;
}

/* Estilos para los botones */
ion-button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px; /* Ajustado el radio del borde */
  padding: 10px;
  font-size: 18px; /* Reducido el tamaño de fuente */
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ion-button:hover {
  background-color: #0056b3;
}

/* Estilos para los elementos ion-item dentro de .some-class */
.some-class ion-item {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  /* Agrega cualquier otro estilo deseado aquí */
}
ion-content {
  background-image: url('/images/bg4_2.png');
  background-color: #cfcbbf;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 20px;
  color: #333; /* Cambiado a un color de texto más oscuro */
}
